<div id="<%= dom_id movie %>">
  <div>
    <strong>Title:</strong>
    <%= movie.title %>
  </div>

  <div>
    <strong>Genre:</strong>
    <%= movie.genre %>
  </div>

  <div>
    <strong>Rating:</strong>
    <%= movie.rating %>
  </div>

  <div>
    <strong>Review:</strong>
    <%= movie.review %>
  </div>

  <div>
    <strong>Watched:</strong>
    <%= movie.watched %>
  </div>

</div>
